:host {
  display: block;
  height: 100vh;
  background: linear-gradient(60deg, #2c8, #2bc);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8;
  font-size: 1.8rem;

  a {
    padding: .5rem 1rem;
    color: #fffe;

    &:hover {
      background: #fff8;
      color: #000;
      mix-blend-mode: screen;
    }
  }
}

main {
  margin: 1rem;
}

textarea {
  border: 2px inset #999;
}
