// Reset
*,
*::before,
*::after {
  all: unset;
  appearance: revert;
  display: revert;
  cursor: inherit;
  font: inherit;
  line-height: inherit;
  user-select: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  cursor: default;
  user-select: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Tahoma, sans-serif;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

q,
blockquote {
  quotes: none;
}

:where(blockquote, q)::before,
:where(blockquote, q)::after {
  content: '';
  content: none;
}

// Accessibility
a {
  text-decoration-skip-ink: auto;
}

@media screen and (prefers-reduced-motion: reduce) {
  :root {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 1s !important;
    transition-duration: 1s !important;
  }
}
